<div class="container overflow-auto">
  <ul *ngFor="let note of notes" id="note-list" >
    <li class="note-link bg-dark" data-toggle="tooltip" data-placement="top" title="{{note.title}}">
      <a class="list-group-item list-group-item-action bg-dark" routerLink="/notes/{{note.id}}" outerLinkActive="active"
         ariaCurrentWhenActive="page">
        <h2 class="title-text">{{note.title}}</h2>
      </a>
    </li>
  </ul>
</div>

<div class="list-group-item list-group-item-action" id="button-list">
    <div class="left-bar">
      <button type="button" class="btn btn-success" (click)="addNote()"> + </button>
    </div>
    <div class="right-bar" *ngIf="noteSelected">
      <button type="button" class="btn btn-info" (click)="deleteNote()"> &#9745; </button>
      <button type="button" class="btn btn-danger" (click)="saveNote()"> &#9760; </button>
    </div>
</div>
